* {
  box-sizing: border-box;
}

:root {
  --first-color: #4b2e83;
  --second-color: white;
}

.mui-root {
  min-height: 100vh;
  background-color: #4b2e83;
  background-repeat: "no-repeat";
  background-size: "cover";
}

.mui-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Montserrat";
}

.mui-appbar-title {
  flex-grow: 1;
}

.mui-container {
  text-align: center;
}

.mui-title {
  color: "#ffffff";
  font-size: 4.5rem !important;
}

body {
  background-color: var(--first-color);
  color: #000000;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: var(--first-color) !important;
}

.btn-primary {
  color: var(--first-color) !important;
  background-color: var(--second-color) !important;
  border-color: var(--second-color) !important;
}

.btn-primary:hover {
  color: var(--second-color) !important;
  background-color: var(--first-color) !important;
}

p {
  line-height: 1.8;
}

h1,
h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
}

h3 {
  color: var(--second-color);
}

.material-icons {
  vertical-align: middle;
}

.filters {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 123px;
  margin-top: 30px;
}

.grid {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Styles for Cards */
.card {
  display: inline-block;
  width: 400px;
  height: 350px;
  overflow: hidden;
  border: 1.25px solid rgb(233, 233, 233);
  border-radius: 16px;
  margin: 10px;
  transition: 0.5s all;
  --shadow: transparent;
  box-shadow: 0 0 10px 5px var(--shadow);
  position: relative;
  font-size: 100%;
}

.card:hover {
  --shadow: rgba(53, 53, 53, 0.103);
  /* transform: rotateY(180deg) translate(20px, 20px);
  background: pink; */
}

.card:hover .main-content {
  pointer-events: initial;
  opacity: 1;
}

.card * {
  margin: 0;
}

.modal-content {
  text-align: center;
  font-weight: bold;
}

.modal-dialog {
  margin-top: 64px !important;
}

.author-popup,
.modal-header {
  margin-top: 0.5rem;
}

.accordion {
  margin-top: 1rem;
}
.accordion-item {
  background-color: rgba(206, 182, 250, 0.795) !important;
}

.title-box {
  text-align: center;
  background-color: rgba(162, 115, 248, 0.705);
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  padding: 10px;
  margin-right: 0.5rem;
}

.category-box {
  text-align: center;
  background-color: rgba(162, 115, 248, 0.705);
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  padding: 10px;
  margin-left: 0.5rem;
}

.title-div {
  width: 100%;
}

.submission-name {
  font-weight: bold;
  font-size: 130%;
}

p.submission-name {
  color: white;
  text-shadow: 0px 0px 4px black;
}

.btn-container {
  text-align: right;
  padding: 0px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.btn {
  --accent: grey;
  cursor: pointer;
  background: transparent;
  border: 1.5px solid var(--accent);
  color: var(--accent);
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 90%;
  letter-spacing: 1px;
  transition: 0.5s all;
  outline: none;
}

.carousel {
  margin-left: auto;
  margin-right: auto;
}

.carousel,
.carousel-inner,
.carousel-item {
  max-width: 400px;
  min-height: 350px !important;
}

.carousel-indicators {
  min-height: 3px !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: rgba(162, 115, 248, 0.705);
  border-radius: 30%;
}

.carousel-control-prev, .carousel-control-next {
  margin-top: 40%;
  height: 50px;
}
#btn-back-to-top {
  background-color: var(--first-color);
  position: fixed;
  bottom: 20px;
  right: 20px;
  float: right;
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  padding: 0;
}

.container {
  width: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-right: auto;
  margin-left: auto;
}

footer {
  background-color: var(--first-color);
  font-size: 80%;
}

footer img {
  width: 85%;
}

footer .row {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: white;
}

.mainfooter .row {
  justify-content: space-between;
}

@media (max-width: 468px) {
  .card {
    width: 300px;
    height: 250px;
  }

  .iframe-vid {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10px;
    margin-top: 80px;
    flex-wrap: wrap;
  }
}
